<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>무비무비</title>
    <style>

    </style>
</head>
<body>
    <h1>무비 restul api 연습</h1>

    <div class="movieList">
        <ul></ul>
    </div>
    <form class="inputForm">
        <input type="text" name="title" id="title" placeholder="제목">
        <input type="text" name="actor" id="actor" placeholder="배우">
        <input type="text" name="grade" id="grade" placeholder="평점">
        <input type="text" name="type" id="type" placeholder="장르">
    </form>

    <div class="buttonList">
        <button id="add">영화추가</button>
        <button id="del">영화삭제</button>
        <button id="update">영화수정</button>
        <button id="search">영화검색</button>
        <button id="all">전체영화불러오기</button>
    </div>
    <input type="text" name="searchTitle">
    <div class="result">
        <table >
            <thead>
                <th>제목</th>
                <th>배우</th>
                <th>평점</th>
                <th>장르</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script>
        const allBtn = document.querySelector("#all")
        const btns= document.querySelectorAll("button") 
        
        Array.prototype.forEach.call(btns,function(el){
            el.addEventListener("click",clickEventHandler,false)    
        });

        function clickEventHandler(e){
            let param = getData();
            const URL = "/movies"
            const title = document.querySelector("#title").value
            console.log("param : " ,param)
            switch( e.target.id){
                case "all": sendAjax(URL,"GET",null); break;
                case "add": sendAjax(URL,"POST",param);break;
                case "del": sendAjax(URL+"/"+title,"DELETE",null);break;
                case "search":sendAjax(URL+"/"+title,"GET",null);break;
                case "update": sendAjax(URL,"PUT",param);break;
            }

        }
        function getData(type){
            const inputs = document.querySelectorAll("input")
            let obj = {}
            inputs.forEach(function(input){
                obj[input.id] =input.value
            })
            return obj;       
        }
        function sendAjax(url,method,param){
            let options = {}
            options.method=method;
            options.headers={"Content-type":"application/json"};
            if(param) options.body=JSON.stringify(param)
                
            fetch(url, options).then(res=>res.json()).then(function(data){
                console.log(data)      
                printResult(data)
            })

            // let xhr = new XMLHttpRequest();
            // xhr.open(method , url);
            // xhr.setRequestHeader("Content-Type", "application/json")
            // xhr.send(JSON.stringify(param))
            // xhr.addEventListener("load",function(){
            //     console.log(xhr)
            // })


        }
        const resultTbody = document.querySelector("tbody")
        function printResult(obj){
            console.log("printResult : " , obj) 
           var datas = obj.data
           datas.forEach(function(data){
                paintList(data)
            })
            
        }
        const tbody = document.querySelector("tbody");
        
        function paintList(data){
                const tr = document.createElement("tr")
                const tdTitle = document.createElement("td") 
                const tdActor = document.createElement("td") 
                const tdGrade = document.createElement("td") 
                const tdType = document.createElement("td") 

                
                // Object.keys(data)
                
                tdTitle.innerText =data.title;
                tdActor.innerText = data.actor;
                tdGrade.innerText = data.grade;
                tdType.innerText = data.type

                tr.appendChild(tdTitle);
                tr.appendChild(tdActor);
                tr.appendChild(tdGrade);
                tr.appendChild(tdType);

                tbody.appendChild(tr)
        }

    </script>
</body>
</html>