<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>무비무비</title>
</head>
<body>
    <h1>무비 restul api 연습</h1>

    <div class="movieList">
        <ul></ul>
    </div>
    <form class="inputForm">
        <input type="text" name="title" id="title" placeholder="제목">
        <input type="text" name="actor" id="actor" placeholder="배우">
        <input type="text" name="grade" id="grade" placeholder="평점">
        <input type="text" name="type" id="type" placeholder="장르">
    </form>

    <div class="buttonList">
        <button id="add">영화추가</button>
        <button id="del">영화삭제</button>
        <button id="update">영화수정</button>
        <button id="search">영화검색</button>
        <button id="all">전체영화불러오기</button>
    </div>
    <input type="text" name="searchTitle">

    <script>
        const allBtn = document.querySelector("#all")
        const btns= document.querySelectorAll("button") 
        
        Array.prototype.forEach.call(btns,function(el){
            el.addEventListener("click",clickEventHandler,false)    
        });

        function clickEventHandler(e){
            let eventId = e.target.id;
            let param = JSON.stringify(getData())
            switch(eventId){
                case "all": sendAjax("/movies","GET",null)
                case "add": sendAjax("/movies","POST",param)
                case "del": sendAjax("/movies","DEL",param)
            }

        }
        function getData(){
            const inputs = document.querySelectorAll("input")
            let obj = {}
            inputs.forEach(function(input){
                obj[input.id] =input.value
            })
            return obj;       
        }
        function sendAjax(url,method,param){
            fetch(url,{
                method:method,
                headers:{"Content-type":"application/json"},
                body: param
            }).then(res=>res.json()).then(function(data){
                console.log(data)
            })
        }

    </script>
</body>
</html>